
// background colors
$background-color: #F5F5DC;
$background-text-color: #516942;

// primary colors(кнопки, плиточки и т.д...)
$primary-color: #C3E2B4;
$primary-text-color: #333333;

// secondary colors(шапка, панель навигации, выделяемые зоны высокого контраста и т.д...)
$secondary-color: #516942;
$secondary-text-color: #F5F5DC;

// error color
$error-color: #D9534F;
$red-color:#D9534F;