@import "styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.app {
  text-align: center;
  padding-inline: 30px;
}
.h1-test{
  font-family: 'Inter', sans-serif;
  color: $background-text-color;
}
.h2-test{
  font-family: Arial, sans-serif;
  color: $background-text-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $background-text-color !important;
  transition: background-color 5000s ease-in-out 0s;
}